
.bg-body-tertiary{
  background-color: aquamarine !important;
}
.buttons{
  margin: 10px
}

.buttons .btn btn-outline{
  margin-top: 5px;
  margin-left: 5px;
}



.carousel-inner{
  /* border: 2px solid rgb(12, 206, 8); */
  height: 38.8rem;
  background-size: cover;

}

.heading{
  text-align: center;
  /* border: 2px solid blue; */
  height: 48rem;
}
.heading h1{
  font-size: 6rem;
}
.heading p{
  font-size: 2rem;
}

.con{
  
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2rem;
  padding: 30px;
  /* border: 2px solid green; */
  justify-content: space-around;

}

.item2,.item3{
  width: 44rem;
  height: 32rem;
  /* border: 2px solid green; */
  background-color: rgb(223, 225, 226);
  border-radius: 20px;
  line-height: 23px;
}
.item2 img{
  height: 25rem;
  border-radius: 20px;
}
.item3 img{
  height: 25rem;
  border-radius: 20px;
}
.item2:hover{
  box-shadow: 2px 2px 4px grey;
}
.item3:hover{
  box-shadow: 2px 2px 4px grey;
}


/*footer*/
footer{
  width: auto;
  height: 10rem;
  background-color: #0b0b0b;
  color: white;
  text-align: center;
  padding-top: 130px;
}